
h1{
color:rgb(255, 255, 255);


}
.header{
 background-color:cornflowerblue;
 text-align:center;
 justify-content:space-between;
 display:flex 
}
.info{
 background-color:lightcyan;
 margin:10px;
 text-align:center;
}
.grid{
    flex-wrap:wrap;
    justify-content:center;
    display:flex;
}
.footer{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-end;
}
.item 
{
    order:3;
}
body{
background-color:#33ffff


}
